<div class="container specborder">
	<h1>Edit Script</h1>
<%= form_for @android_script, :html => {:multipart => true} do |f| %>
  <p>
    <%= f.label :name, 'Script Name' %>
    <%= f.text_field :name, :class => 'form-control' %>
    <br />
    <%= f.file_field :script %>
  </p>
  <%= f.submit 'Update File Name' , :class => "btn btn-primary btn-sm" %>
<% end %>
</div>